.intro {
  background-color: $headerBg;

  @media screen and (min-width: 1400px) {
    min-height: 100vh;
  }

  header {
    > *::selection {
      background-color: $selectIntro;
    }

    padding: 0 150px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1250px) {
      padding: 0 70px;
    }

    @media screen and (max-width: 950px) {
      padding: 0 20px;
    }

    h1 {
      font-weight: 700;
      font-size: $fontSmall;

      span {
        &::selection {
          background-color: $selectIntro;
        }
        margin-left: 1rem;
        font-weight: 500;
        font-size: $fontXs;
        color: $grey;
      }
    }
  }

  .hero {
    > *::selection {
      background-color: $selectIntro;
    }
    padding: 100px 150px 0 150px;
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2rem 8rem 8rem 3rem;
    grid-template-areas:
      "a ."
      "b i"
      "c i"
      "d .";

    @media screen and (max-width: 1250px) {
      padding: 100px 70px 0 70px;
    }

    @media screen and (max-width: 950px) {
      padding: 100px 20px 0 20px;
    }

    @media screen and (max-width: 850px) {
      grid-template-columns: 3fr 2fr;
    }

    @media screen and (max-width: 720px) {
      display: block;
    }

    &__image {
      > *::selection {
        background-color: $selectIntro;
      }
      grid-area: i;
      max-width: 400px;
      width: 100%;

      @media screen and (max-width: 720px) {
        margin: 0 auto 2rem auto;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .moto {
      grid-area: a;
      color: $blue;
      font-size: $fontSmall;
      font-weight: 700;
      @media screen and (max-width: 720px) {
        margin-bottom: 2rem;
      }
    }

    h1 {
      grid-area: b;
      font-weight: 700;
      font-size: $fontMax;
      @media screen and (max-width: 720px) {
        margin-bottom: 2rem;
      }

      span {
        &::selection {
          background-color: $selectIntro;
        }
        text-decoration: underline;
      }
    }

    p {
      grid-area: c;
      font-weight: 500;
      font-size: $fontParagraph;
      color: $greyPara;
      line-height: 1.5;
      opacity: 0.7;
      @media screen and (max-width: 720px) {
        margin-bottom: 2rem;
      }
    }

    .links {
      > *::selection {
        background-color: $selectIntro;
      }
      grid-area: d;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 3rem;

      .button {
        text-decoration: none;
        background-color: $blue;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: $fontButton;
        padding: 1rem;
        text-align: center;
        border-radius: 20px;
        transition: all 300ms ease-in-out;

        &:hover {
          background-color: #1376a3;
        }
      }

      .res {
        width: fit-content;
        text-decoration: none;
        color: $blue;
        font-weight: 500;
        font-size: $fontButton;
        transition: all 300ms ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .tools {
    > *::selection {
      background-color: $selectIntro;
    }
    padding: 0 150px 50px 150px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 120px));
    gap: 1rem 3rem;

    @media screen and (max-width: 1250px) {
      padding: 0 70px 50px 70px;
    }

    @media screen and (max-width: 950px) {
      padding: 0 20px 50px 20px;
    }

    @media screen and (max-width: 720px) {
      // margin-top: 50px;
      gap: 1rem 2rem;
    }

    &__image {
      object-fit: contain;
      > *::selection {
        background-color: $selectIntro;
      }
      max-height: 50px;
      max-width: 150px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
