.probs {
  padding: 100px 150px 100px 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1250px) {
    padding: 100px 70px 100px 70px;
  }

  @media screen and (max-width: 950px) {
    padding: 100px 20px 100px 20px;
  }

  @media screen and (max-width: 600px) {
    display: block;
  }

  p {
    color: $greyPara;
    font-weight: 500;
  }

  &__left {
    text-align: center;
    margin-right: 5rem;

    @media screen and (max-width: 600px) {
      margin-right: 0;
    }

    h1 {
      font-size: $fontMax;
    }

    p {
      font-size: $fontSmall;
      font-weight: 500;
    }

    @media screen and (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__right {
    align-content: center;
    table {
      border-spacing: 0 1rem;
      @media screen and (max-width: 600px) {
        margin: 0 auto;
      }
      tr {
        td {
          color: $greyPara;
          font-size: $fontParagraph;
          font-weight: 500;
          &:not(:last-child) {
            padding-right: 5rem;
          }
        }
      }
    }
  }
}
