// Font sizes
$fontMax: 3.125rem; //50px
$fontMiddle: 1.75rem; // 28px
$fontSmall: 1.25rem; // 20px
$fontParagraph: 1rem; // 16px
$fontButton: 0.875rem; // 14px
$fontXs: 0.75rem; // 12px

// Colors

//Intro
$headerBg: #f5f5f5;
$blue: #4a90e2;
$grey: #9e9e9e;
$greyPara: #666;

//Problems

//WebDev
$blueBg: #63a6ff;
$darkBlue: #1b63c2;

//iOSDev
$greenHeading: #09606b;

//Methodology
$yellowBg: #f3bf90;
$greyCard: #f5f5f5;
$blueHeading: #22969e;

// Selection Colors

//Intro
$selectIntro: #bebdbd;

//WebDev
$selectWeb: #90bffc;

//iOSDev
$selectIos: #2bbac2;

//Methodology
$selectMethod: #f8a862;

//Footer
$selectFooter: #f5f5f5;
