.web {
  padding: 50px 150px 50px 150px;
  background-color: $blueBg;

  h1::selection {
    color: black;
  }

  @media screen and (min-width: 1400px) {
    min-height: 100vh;
  }

  @media screen and (max-width: 1250px) {
    padding: 50px 70px 50px 70px;
  }

  @media screen and (max-width: 950px) {
    padding: 50px 20px 50px 20px;
  }

  &__intro {
    @media screen and (max-width: 720px) {
      text-align: center;
    }

    > *::selection {
      background-color: $selectWeb;
    }

    h1 {
      color: $darkBlue;
      font-size: $fontMiddle;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.5;
      width: 70%;
      font-weight: 700;
      color: white;
      font-size: $fontParagraph;
      margin-bottom: 2rem;

      @media screen and (max-width: 720px) {
        width: 100%;
      }
    }
  }

  &__main {
    > *::selection {
      background-color: $selectWeb;
    }
    &__title {
      text-align: center;
      color: white;
      font-weight: 700;
      font-size: $fontMax;
    }

    .circle {
      text-align: center;
      &__div {
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        display: inline-block;
        background-color: #fff;
        opacity: 0.5;
      }
    }

    .skill {
      margin: 3rem auto 0 auto;
      max-width: 800px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 5rem 1rem;
      justify-items: center;
      grid-template-areas:
        "i1 t1"
        "t2 i2";

      @media screen and (max-width: 720px) {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          "i1"
          "t1"
          "i2"
          "t2";

        gap: 1rem 0;
      }

      .img__first {
        justify-self: start;
        grid-area: i1;
      }

      .img__second {
        grid-area: i2;
      }

      .text__first {
        grid-area: t1;
      }

      .text__second {
        grid-area: t2;
      }

      &__img {
        > *::selection {
          background-color: $selectWeb;
        }
        max-width: 250px;
        max-height: 180px;

        @media screen and (max-width: 720px) {
          margin: 0 auto;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }

      &__des {
        > *::selection {
          background-color: $selectWeb;
        }
        h1 {
          color: $darkBlue;
          font-size: $fontMiddle;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        p {
          line-height: 1.5;
          font-size: $fontParagraph;
          font-weight: 700;
          color: white;
        }
      }
    }
  }
}
