.intro {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.intro header {
  padding: 0 150px;
  background-color: #fff;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1250px) {
  .intro header {
    padding: 0 70px;
  }
}

@media screen and (max-width: 950px) {
  .intro header {
    padding: 0 20px;
  }
}

.intro header h1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.intro header p {
  font-weight: 500;
  font-size: 0.75rem;
  color: #9e9e9e;
}

.intro .hero {
  padding: 0 150px;
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  gap: 2rem 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 2rem 8rem 8rem 3rem;
      grid-template-rows: 2rem 8rem 8rem 3rem;
      grid-template-areas: "a ." "b i" "c i" "d .";
}

@media screen and (max-width: 1250px) {
  .intro .hero {
    padding: 100px 70px 0 70px;
  }
}

@media screen and (max-width: 950px) {
  .intro .hero {
    padding: 100px 20px 0 20px;
  }
}

@media screen and (max-width: 850px) {
  .intro .hero {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
  }
}

@media screen and (max-width: 720px) {
  .intro .hero {
    display: block;
  }
}

.intro .hero__image {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: i;
  max-width: 400px;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .intro .hero__image {
    margin: 0 auto 2rem auto;
  }
}

.intro .hero__image img {
  height: 100%;
  width: 100%;
}

.intro .hero .moto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  color: #4a90e2;
  font-size: 1.25rem;
  font-weight: 700;
}

@media screen and (max-width: 720px) {
  .intro .hero .moto {
    margin-bottom: 2rem;
  }
}

.intro .hero h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  font-weight: 700;
  font-size: 3.125rem;
}

@media screen and (max-width: 720px) {
  .intro .hero h1 {
    margin-bottom: 2rem;
  }
}

.intro .hero h1 span {
  text-decoration: underline;
}

.intro .hero p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c;
  font-weight: 500;
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  opacity: 0.7;
}

@media screen and (max-width: 720px) {
  .intro .hero p {
    margin-bottom: 2rem;
  }
}

.intro .hero .links {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.intro .hero .links .button {
  text-decoration: none;
  background-color: #4a90e2;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.intro .hero .links .button:hover {
  background-color: #1376a3;
}

.intro .hero .links .res {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #4a90e2;
  font-weight: 500;
  font-size: 0.875rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.intro .hero .links .res:hover {
  opacity: 0.5;
}

.intro .tools {
  padding: 0 150px;
  margin-top: 100px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 120px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50px, 120px));
  gap: 1rem 5rem;
}

@media screen and (max-width: 1250px) {
  .intro .tools {
    padding: 0 70px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 950px) {
  .intro .tools {
    padding: 0 20px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 720px) {
  .intro .tools {
    margin-top: 50px;
    gap: 1rem 2rem;
  }
}

.intro .tools__image {
  max-height: 50px;
  max-width: 150px;
}

.intro .tools__image img {
  height: 100%;
  width: 100%;
}

.web {
  padding: 0 150px;
  padding-top: 50px;
  min-height: 100vh;
  background-color: #63a6ff;
}

@media screen and (max-width: 1250px) {
  .web {
    padding: 0 70px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 950px) {
  .web {
    padding: 0 20px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 720px) {
  .web__intro {
    text-align: center;
  }
}

.web__intro h1 {
  color: #1b63c2;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.web__intro p {
  line-height: 1.5;
  width: 70%;
  font-weight: 700;
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 720px) {
  .web__intro p {
    width: 100%;
  }
}

.web__main__title {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3.125rem;
}

.web__main .circle {
  text-align: center;
}

.web__main .circle__div {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  opacity: 0.5;
}

.web__main .skill {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 5rem 1rem;
  justify-items: center;
      grid-template-areas: "i1 t1" "t2 i2";
}

@media screen and (max-width: 720px) {
  .web__main .skill {
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "i1" "t1" "i2" "t2";
    gap: 1rem 0;
  }
}

.web__main .skill .img__first {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: i1;
}

.web__main .skill .img__second {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: i2;
}

.web__main .skill .text__first {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: t1;
}

.web__main .skill .text__second {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: t2;
}

.web__main .skill__img {
  max-width: 250px;
  max-height: 180px;
}

@media screen and (max-width: 720px) {
  .web__main .skill__img {
    margin: 0 auto;
  }
}

.web__main .skill__img img {
  height: 100%;
  width: 100%;
}

.web__main .skill__des h1 {
  color: #1b63c2;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.web__main .skill__des p {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */