@import "variables";
@import "intro";
@import "webdev";
@import "iosdev";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
