@import "variables";
@import "intro";
@import "webdev";
@import "iosdev";
@import "methodology";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > span {
  display: inline-block;
  background-color: #f8c4a8;

  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: #e24b59;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #575987;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

svg {
  height: 100%;
  width: 100%;
}

#logo {
  animation: logo 700ms infinite alternate ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
}

#hand {
  animation: hand 400ms infinite alternate ease-in-out;
  transform-origin: right;
  transform-box: fill-box;
}

#face {
  animation: face 700ms infinite alternate ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes logo {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hand {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3%);
  }
}

@keyframes face {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-4%);
  }
}
